body {
    background: rgb(233, 118, 118);
    text-align: center;
    
}

.logo {
    height: 300px;
    transform: rotate(90deg); 
    padding-top: 10px;
}

.nav {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;    
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav-logo {
    height: auto;
    width: 241px;
    line-height: 1;
}

