#bootstrap-override {
    background: blueviolet;
    text-align: center;
}

.menu {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 500px) {
    .menu {
        margin-top: 5px;
        display: block;
    }
}

.menu-section-container {
    grid-column: 2/3;
}

.menu-section {
    border: 1px;
    padding: 3px;
    border-style: solid;
    border-color: rgb(114, 107, 107);
    margin-top: 5px;
}

.contactDiv {
    background: whitesmoke;
    margin-top: 5px;
    max-width: 33%;

}




